<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingDream.celerityIT.mapper.DoFieldMapper">
    <!--region 关于表字段-->
    <!--新增表字段-->
    <update id="addTableField">
        alter table ${table.name}
        <foreach collection="table.fieldSet" item="field" separator=",">
            add ${field.name} ${field.type}(${field.size})
            <if test="field.primary">
                primary key
            </if>
            comment #{field.comment}
        </foreach>
    </update>
    <!--删除表字段-->
    <update id="delTableField">
        ALTER TABLE ${table.name}
        <foreach collection="table.fieldSet" item="field" separator=",">
            drop ${field.name}
        </foreach>
    </update>

    <!--region 修改字段信息-->
    <!--修改字段-->
    <update id="renameTable">
        alter table ${oldTable.name}


    </update>
    <!--endregion-->
    <!--endregion-->
</mapper>